/* shrink the padding on col- elements */
body{
    background-image: url('../images/halftone2.png');
    background-repeat: repeat;
    background-color: #fffffc;
}

body [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.btn:focus, .btn:active {outline:0 !important;}/* gets rid of blue border on button press */

/* Vertically center container */
html, body {
  height: 100%;
}

.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}
/* END Vertically center container */


.inner {
    margin-top: 10px;
    text-align: center;
    background-color: rgb(22, 160, 133);
    padding: 0 0 20px 0;
    overflow: hidden; /* this shit is important as fuck makes it fill parent div height */
}

.head {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      -webkit-border-radius: 16px 16px 0 0; 
      /* Firefox 1-3.6 */
      -moz-border-radius: 16px 16px 0 0;  
      /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
      border-radius: 16px 16px 0 0; 

      /* remove margin-top so vertically centers correctly */
      margin-top: 0;
}

.head h1 {	
	color: #fdf7ef;
}

.head p {
	font-size: 1.4em;
}

.shadowText {
  text-shadow: rgb(20, 144, 120) 1px 1px,
    rgb(20, 144, 120) 2px 2px,
    rgb(20, 144, 120) 3px 3px,
    rgb(20, 144, 120) 4px 4px,
    rgb(20, 144, 120) 5px 5px,
    rgb(20, 144, 120) 6px 6px,
    rgb(20, 144, 120) 7px 7px,
    rgb(20, 144, 120) 8px 8px,
    rgb(20, 144, 120) 9px 9px,
    rgb(20, 144, 120) 10px 10px,
    rgb(20, 144, 120) 11px 11px,
    rgb(20, 144, 120) 12px 12px,
    rgb(20, 144, 120) 13px 13px,
    rgb(20, 145, 121) 14px 14px,
    rgb(20, 146, 122) 15px 15px,
    rgb(20, 147, 122) 16px 16px,
    rgb(20, 148, 123) 17px 17px,
    rgb(20, 149, 124) 18px 18px,
    rgb(20, 150, 125) 19px 19px,
    rgb(20, 151, 125) 20px 20px,
    rgb(21, 152, 126) 21px 21px,
    rgb(21, 152, 127) 22px 22px,
    rgb(21, 153, 127) 23px 23px,
    rgb(21, 154, 128) 24px 24px,
    rgb(21, 155, 129) 25px 25px,
    rgb(21, 156, 130) 26px 26px,
    rgb(21, 157, 130) 27px 27px,
    rgb(21, 158, 131) 28px 28px,
    rgb(21, 159, 132) 29px 29px,
    rgb(22, 160, 133) 30px 30px;
   
  height: 100%;
  width: 100%;
  font-size: 75px;
}

@media screen and (min-width: 993px) {
      #rounded-bottom-left {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      -webkit-border-radius: 0 0 0 16px; 
      /* Firefox 1-3.6 */
      -moz-border-radius: 0 0 0 16px;   
      /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
      border-radius: 0 0 0  16px; 
    }

    #rounded-bottom-right {
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
          -webkit-border-radius: 0 0 16px 0; 
          /* Firefox 1-3.6 */
          -moz-border-radius: 0 0 16px 0;   
          /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
          border-radius: 0 0 16px 0;
    }
}

@media screen and (max-width: 992px) {
      #rounded-bottom-left {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      -webkit-border-radius: 0 0 0 0px; 
      /* Firefox 1-3.6 */
      -moz-border-radius: 0 0 0 0px;   
      /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
      border-radius: 0 0 0 0px; 
    }

    #rounded-bottom-right {
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
          -webkit-border-radius: 0 0 16px 16px; 
          /* Firefox 1-3.6 */
          -moz-border-radius: 0 0 16px 16px;   
          /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
          border-radius: 0 0 16px 16px;
    }

    .container {
      width: 100%;
    }

    div.instructions {
      display:none;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .shadowText {
        font-size:60px;
    }
}

@media screen and (min-width: 591px) and (max-width: 768px) {
    .shadowText {
        font-size:50px;
    }
    .head p {
        padding: 0 40px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 590px) {
    .shadowText {
        font-size:34px;
    }

    .head p {
        padding: 0 40px;
        font-size: 1.1em;
    }
}



