

/***** begin responsive queries *****/

/***** width (cols) *****/

/***** 3 col base *****/
@media screen and (max-width: 1080px) {
  #viewing_pane,
  #mask
  {
      width:785px !important;
  }

  .section,
  #center_content_main
  {
      width:771px !important;
  }

  #nav_bar {
    left: 388px !important;
  }

  #center_content_main {
      margin-left: -385.5px;
    	background: url(../_images/background_661x.jpg) no-repeat 0 0 !important;
  }

  .scroll_arrows {
    left: 729px !important;
  }

  #footer
  {
      width:750px !important;
  }

  #bottom_rule_3c {
    display:block;
  }

  #bottom_rule_4c,
  #bottom_rule_2c,
  #bottom_rule_1c {
    display:none;
  }

}

/***** 2 col base *****/
@media screen and (max-width: 799px) {

  #splash_lg {
    display:none !important;
  }
    #splash_med {
      display:block !important;
    }

  #viewing_pane,
  #mask
  {
      width:541px !important;
  }

  #center_content_main {
      margin-left: -257px;
    	background: url(../_images/background_506x.jpg) no-repeat 0 0 !important;
  }

  .section,
  #center_content_main
  {
      width:528px !important;
  }

  #center_content_main {
      margin-left: -257px;
    	background: url(../_images/background_506x.jpg) no-repeat 0 0 !important;
  }

  #nav_bar {
    left: 140px !important;
  }

  .scroll_arrows {
    left: 486px !important;
  }

  #rotating_image {
    display: none;
  }

  #footer
  {
      width:508px !important;
  }

  span#footer_text_welcome {
    display:none;
  }

  #bottom_rule_2c {
    display:block;
  }

  #bottom_rule_4c,
  #bottom_rule_3c,
  #bottom_rule_1c {
    display:none;
  }

}

/***** 1 col base *****/
@media screen and (max-width: 567px) {

  #splash_lg,
  #splash_med,

  #rotating_image {
    display: none !important;
  }

  #top_right_img {
    display: none!important;
  }

  #viewing_pane
  {
      width:298px !important;
  }

  #mask
  {
      width:306px !important;
  }

  #center_content_main,
  .section
  {
      width:281px !important;
  }

  #center_content_main {
      margin-left: -140px;
      background: url(../_images/background_286x.jpg) no-repeat 0 0 !important;
  }

  #nav_bar {
    left: 0px !important;
  }

  .scroll_arrows {
    left: 242px !important;
  }

    #about_box,
    #links_box,
    #contact_box {
      position:relative !important;
      left: 23px !important;
      width: 230px !important;
    }

  #footer
  {
      width:261px !important;
  }

  #bottom_rule_1c {
    display:block;
  }

  #bottom_rule_4c,
  #bottom_rule_3c,
  #bottom_rule_2c {
    display:none;
  }

  span#footer_text_welcome,
  span#footer_print_pipe,
  span#longContactText {
    display:none;
  }

  span#footer_soft_return {
    display:inline;
  }

}

/***** height (rows) *****/

/***** 3 row *****/
/***** 3 col *****/
@media screen and (min-height: 741px) and (max-width: 1080px) {

  img#splash_lg {
    clip-path: inset(0px 230px 0px 0px);
  }

  #enter_btn {
    top: 334px;
    left: 204px;
  }

  #about_box {
  	width: 381px;
  }

  #rotating_image {
    height: 230px !important;
  }

  .about_img {
    width:373px;
  }

  .message {
    width: 278px;
  }

  #links_box,
  #contact_box {
  	width: 316px;
  }

  #about_text {
  	position: relative;
  	top: 20px;
  	left: 30px;
  	width: 320px;
  }

}

/***** 3 row *****/
/***** 2 col *****/
@media screen and (min-height: 741px) and (max-width: 799px) {

  #enter_btn {
      top: 334px;
      left: 200px;
  }

  img#splash_med {
    display:block;
  }

  img#splash_lg,
  img#splash_sm {
    display:none;
  }

  #about_box {
  	width: 474px;
  	height: 277px !important;
  }

  #rotating_image {
    display:none;
  }

  #about_text {
  	position: relative;
  	top: 18px;
  	left: 20px;
  	width: 430px;
  }

  #links_box,
  #contact_box {
    top: 298px !important;
  	height: 283px;
  }

  #links_box {
  	left: 16px;
  	width: 150px;
  	background: none !important;
  }

  #link_box_2 {
    display: none;
  }

  #contact_box {
  	right: 36px;
  	width: 306px;
    background: right top no-repeat url("../../_images/contact_mouth.png") !important;
    background-size: 46% 30% !important;
  }

  .message {
  	width: 269px !important;
  }

  div#message {
    margin: 82px 0 0 80px;
  }

  input.button {
  	left: 83px !important;
  }

}

/***** 3 row *****/
/***** 1 col *****/
@media screen and (min-height: 741px) and (max-width: 567px) {

  #enter_btn {
    top: 330px;
    left: 74px;
  }

  img#splash_sm {
    display:block;
  }

  img#splash_lg,
  img#splash_med {
    display:none;
  }

  #about_box {
    top: 3px !important;
    height: 115px !important;
  }

  #about_text {
  	top: 10px;
  	left: 12px;
  	width: 210px;
  }

  #about_text p:nth-child(n+3),
  span.about_text_more {
    display:none !important;
  }

  span#about_text_resume,
  span#about_text_resume_2 {
    display:none;
  }

  #links_box {
    top: 19px !important;
    height: 145px !important;
    background: right top no-repeat url("../../_images/links_eye.png") !important;
    background-size: 57% !important;
  }

  #link_box_1 p:nth-child(n+5) {
    display: none !important;
  }

  #contact_box {
    top: 36px !important;
    height: 284px;
  	background: none !important;
  }

  .message {
  	width: 193px !important;
  }

  div#message {
    margin: 82px 0 0 80px;
  }

  input.button {
  	left: 50px !important;
  }

}

/***** queries that deal with window heights *****/

/***** 2 row *****/

/***** 2 row base *****/
@media screen and (max-height: 740px){

  #center_content_main {
    margin-top: -280px;
  }

  #viewing_pane {
    height:390px;
  }

  div.scroll_arrows {
  	top: 298px;
  }

  #footer {
    top: 508px !important;
  }

}

/***** 2 row *****/
/***** 4 col *****/
@media screen and (min-height: 537px) and (max-height: 740px) and (min-width: 1081px) {

  #about_box {
    height:381px;
    width:954px;
  }

  .about_img {
  	width: 644px;
  }

  #about_text {
  	position: relative;
  	top: -340px;
  	left: 654px;
  	width: 284px;
  }

  #about_text_1c_1r_2 {
  	display: block;
  }

  #links_box,
  #contact_box {
    display:none;
  }

}

/***** 2 row *****/
/***** 3 col *****/
@media screen and (min-height: 537px) and (max-height: 740px) and (max-width:1080px){

  img#splash_lg {
    clip-path: inset(0px 230px 0px 0px);
  }

  #enter_btn {
  	top: 324px;
    left: 200px;
  }

  #about_box {
    width: 466px;
    height: 381px;
  }

  #rotating_image {
    display:block;
    height: 167px !important;
    left: 6px;
  }

  .about_img {
    width: 456px;
  }

  #about_box p:nth-child(n+3) {
    display:none;
  }

  #about_text {
    top: 110px;
    left: 30px;
    width: 410px;
  }

  span#about_text_resume_2 {
      display: inline;
  }

  #links_box,
  span#longContactText {
    display:none;
  }

  #contact_box {
    top: 3px ;
    width:230px;
    height: 381px;
  	background: none;
  }

  .message {
  	height: 158px !important;
  	width: 193px !important;
  }

  #message {
    margin: 132px 0 0 76px;
  }

  input.button {
    left:50px !important;
  }

}

/***** 2 row *****/
/***** 2 col *****/
@media screen and (min-height: 537px) and (max-height: 740px) and (max-width:799px){

  #splash_med {
    margin-top: -42px;
  }

  #enter_btn {
  	top: 288px;
  }

  #about_box {
  	width: 270px;
  	height: 381px;
  }

  #rotating_image {
    display: none;
  }

  #about_text {
  	top: 10px;
  	left: 9px;
  	width: 260px;
  }

  #about_box p:nth-child(n+3) {
    display:block;
  }

  span#about_text_resume,
  span#about_text_resume_2 {
    display:none;
  }

  #links_box {
    display:block;
  	top: 3px !important;
  	left: 308px !important;
  	width: 184px;
  	height: 78px !important;
  	background: none !important;
  }

  #link_head {
    top: 7px;
  }

  #link_box_1 {
    top: 12px;
  }

  #link_box_1 p:nth-child(n+2),
  #link_box_2 {
    display:none;
  }

  #contact_box {
    top: 99px;
    height: 285px;
  	right: 36px !important;
  	width: 184px;
  	background: none !important;
  }

  .message {
  	width: 147px !important;
    height: 62px !important;
  }

  div#message {
    margin: 84px 0 0 56px;
  }

  input.button {
    left: 33px !important;
  }

}

/***** 2 row *****/
/***** 1 col *****/
@media screen and (min-height: 537px) and (max-height: 740px) and (max-width:567px){

  #splash_sm {
    display: block!important;
    margin-top: -100px!important;
  }

  #enter_btn {
  	top: 230px;
    left: 74px;
  }

  #about_box {
    top: 3px !important;
    height: 115px;
  }

  #about_text {
  	top: 10px;
  	left: 9px;
  	width: 210px;
  }

  #about_text p:nth-child(n+3),
  span.about_text_more {
    display:none !important;
  }

  #about_text_resume {
    display:inline;
  }

  span#about_text_resume {
    display: inline !important;
  }

  #links_box {
    display:none !important;
  }

  #contact_box {
    top: 19px !important;
    height: 250px !important;
  	background: none !important;
  }

  .message {
  	height: 28px !important;
  	width: 193px !important;
  }

  div#message {
    margin: 68px 0 0 80px;
  }

  input.button {
    left: 50px !important;
  }

}

/***** 1 row *****/

/***** 1 row base *****/
@media screen and (max-height: 536px){

  #center_content_main {
    margin-top: -188px;
  }

  #splash_lg,
  #splash_med,
  #splash_sm,
  #splash_med_1r,
  #splash_sm_1r
   {
    display:none !important;
  }

  #splash_lg_1r {
    display:block;
  }

  #enter_btn {
  	top: 64px;
  	left: 684px;
  }

  #top_right_img  {
  	display:none;
  }

  #viewing_pane {
    height:192px;
  }

  div.scroll_arrows {
  	top: 100px;
  }

  #footer {
    top: 311px !important;
  }

}

/***** 1 row *****/
/***** 4 col *****/
@media screen and (max-height: 536px) and (min-width: 1081px) {

  #splash_lg_1r {
    display:block;
    margin-left: -100px;
  }

  #enter_btn {
  	left: 590px;
  }

  #about_box {
  	width: 954px;
  	height: 184px;
  }

  #rotating_image {
    display:block;
    height: 169px !important;
    left: 6px;
  }

  .about_img {
    width: 296px;
  }

  #about_text {
    top: -142px;
    left: 316px;
    width: 650px;
  }

  span#about_text_resume ,
  span#about_text_resume_2 {
    display:none;
  }

  #about_text p:nth-child(n+3) {
    display: none;
  }

  #about_text_1c_1r {
    display: block
  }

  #links_box,
  #contact_box {
    display: none;
  }

}

/***** 1 row *****/
/***** 3 col *****/
@media screen and (max-height: 536px) and (max-width:1080px){

  #splash_lg_1r {
    display:block;
    margin-left: -100px;
  }

  #enter_btn {
  	left: 590px;
  }

  #about_box {
  	width: 716px;
  	height: 184px;
  }

  #rotating_image {
    display:block;
    height: 169px !important;
    left: 6px;
  }

  .about_img {
    width: 296px;
  }

  #about_text {
    top: -142px;
    left: 316px;
    width: 380px;
  }

  span#about_text_resume ,
  span#about_text_resume_2 {
    display:none;
  }

  #about_text p:nth-child(n+3) {
    display: none;
  }

  #about_text_1c_1r {
    display: block
  }

  #links_box,
  #contact_box {
    display: none;
  }

}

/***** 1 row *****/
/***** 2 col *****/
@media screen and (max-height: 536px) and (max-width:799px){

  #splash_lg_1r {
    display:none !important;
  }

  #splash_med_1r {
    display:block !important;
  }

  #enter_btn {
  	left: 370px;
  }

  #about_box {
    width: 474px;
    height: 184px;
  }

  #rotating_image {
    display:block;
    height: 169px !important;
    left: 6px;
  }

  .about_img {
    width: 296px;
  }

  #about_text {
    top: -160px;
    left: 316px;
    width: 150px;
  }

  #about_text p:nth-child(n+4),
  span.about_text_more,
  span#longContactText {
    display:none;
  }

  #about_text_resume {
    display:none;
  }

  #about_text_1c_1r {
    display: block;
  }

  #links_box,
  #contact_box {
    display: none;
  }

}

/***** 1 row *****/
/***** 1 col *****/
@media screen and (max-height: 536px) and (max-width:567px){

  #splash_lg_1r,
  #splash_med_1r {
    display:none !important;
  }

  #splash_sm_1r {
    display:block !important;
  }

  #enter_btn {
  	left: 170px;
  }

  #about_box {
    height: 184px;
  }

  #about_text {
  	top: 18px;
  	left: 20px;
  	width: 190px;
  }

  #about_text_1c_1r {
    display: block;
  }

  #contact_box {
    display: none !important;
  }

  span#about_text_resume,
  span#longContactText {
    display: none !important;
  }

}
