	a:hover {color: #FFD81B; text-decoration: none; font-weight: 600; }
	a {color: #37515B; text-decoration: none; font-weight: 600; }

	a.more_link:hover {color: #FFD81B; text-decoration: none; font-weight: 600; }
	a.more_link {color: #D0D8DA; text-decoration: none; font-weight: 600; }
	
	

	a.bookmark:hover {color: #FFD81B; text-decoration: none; font-size: 7pt; font-weight: 200;}
	a.bookmark {color: #D0D8DA; text-decoration: none; font-size: 7pt; font-weight: 200;}	
	
	
	body, table { 
		font: 600 10px geneva, verdana, helvetica, sans-serif;
		color: #37515B;
	}
	
	.cart { 
		font: 200 9px geneva, verdana, helvetica, sans-serif;
		color: #37515B;
	}
	
	p { 
		font: 600 9px geneva, verdana, helvetica, sans-serif;
		color: #42626D;
		margin: 2px 0px 10px 0px;
	}
	
	.headline {
		font: 600 11px geneva, verdana, helvetica, sans-serif;
		margin: 8px  0px;
	}
	
	.text {
		font: 600 10px geneva, verdana, helvetica, sans-serif;
		margin: 2px 0px 8px  0px;
		color: #D0D8DA;
	}
	
	.description_head {
		font: 600 12px geneva, verdana, helvetica, sans-serif;
		margin: 8px  0px;
		color: #D0D8DA;
	}
	
	.description_body {
		font: 10px geneva, verdana, helvetica, sans-serif;
		margin: 8px  0px;
		color: #D0D8DA;
	}
	
	.description_head_dark {
		font: 600 12px geneva, verdana, helvetica, sans-serif;
		margin: 8px  0px;
		color: #37515B;
	}
	
	.description_body_dark {
		font: 10px geneva, verdana, helvetica, sans-serif;
		margin: 8px  0px;
		color: #37515B;
	}
	
	.this_section
	{
		background-color: #D0D8DA;
		color: #37515B;
		padding: 6px;
		margin:0px 0px 1px 0px;
	}
	
	.this_section_sub
	{
		background-color: #B6AD4A;
		padding: 6px 6px 6px 12px;
		margin:0px 0px 1px 0px;
		color: #37515B;
	}
	
	.this_section_sub_selected
	{
		background-color: #FFD81B;
		
		padding: 6px 6px 6px 12px;
		color: #37515B;
		margin:0px 0px 1px 0px;
	}
	
	.other_section 
	{
		background-color: #718992;
		padding: 6px;
		margin:0px 0px 1px 0px;
		color: #D0D8DA;
	}
	
	.other_section_sub 
	{
		background-color: #55727C;
		padding: 6px 6px 6px 12px;
		margin:0px 0px 1px 0px;
		color: #97AEAC;
	}
	
	.section_sub_over
	{
		background-color: #FFD81B;
		padding: 6px 6px 6px 16px;
		margin:0px 0px 1px 0px;
		color: #37515B;
	}
	
	.section_over
	{
		background-color: #FFD81B;
		padding: 6px;
		margin:0px 0px 1px 0px;
		color: #37515B;
	}
	
	.download_band
	{
		background-color: #37515B;
		color: #D0D8DA;
		padding: 4px 6px;
		margin:0px 0px 1px 0px;
		text-align:center;
	}
	
	.download_band_over
	{
		background-color: #FFD81B;
		padding: 4px 6px;
		margin:0px 0px 1px 0px;
		color: #37515B;
		text-align:center;
	}
	
	.odd_row 
	{
		background-color: #9DABB0;
		padding: 4px 6px;
		margin:0px 0px 1px 0px;
		color: #D0D8DA;
	}
	
	.even_row 
	{
		background-color: #849599;
		padding: 4px 6px;
		margin:0px 0px 1px 0px;
		color: #D0D8DA;
	}
	
	.row_over
	{
		background-color: #6D7578;
		padding: 4px 12px;
		margin:0px 0px 1px 0px;
		color: #D0D8DA;
	}