<html>
	<head>
		<style type='text/css'>
			div#content {
				left: 50%; 
				margin-left: -200; 
				position: absolute; 
				width: 400px; 
				padding:20px 0px;
			}
			
			.subHead { 
				font: 11px/14px Helvetica,Arial,Verdana,sans-serif;
				color: #323232;
				font-weight:bold;
			}

			.bodyText { 
				font: 10px/14px Helvetica,Arial,Verdana,sans-serif;
				color: #323232;
				margin: 5px 0px 0px 0px;
			}
			
			.documentation { 
				font: 10px/14px Helvetica,Arial,Verdana,sans-serif;
				color: #323232;
			}
			
			a:link {font-weight:bold; color: #323232; text-decoration:none;}
			a:visited {font-weight:bold; color:#323232; text-decoration:none;}
			a:hover {font-weight:bold; color:#707070; text-decoration:none;}
			a:active {font-weight:bold; color:#bab380;text-decoration:none;}
			
			ul {margin: 10px 0 0 0;}
			li {margin: 10px 0 0 0;}
		</style>
	</head>
	<body style='background-color: white;'>
	<div id='content'>
			<p class='subHead'>Preparation of sessions for mixing - Logic/Nuendo/Cubase/Digital Performer, etc session</p>
			<p class='bodyText'><a href="javascript:window.print()">[ Print this page ]</a></p>
			<p class='bodyText'>Sessions can be accepted on firewire [not USB] hard drive or DVD.<br />In certain cases [mixing only 1 - 2 songs] FTP upload may be possible.<br />Ask me first: <a href='mailto: newport@alexnewport.com'>here</a>.</p>
			<ol>
				<li class='documentation'>Open song session file and save as [<em>song title</em> - FOR MIX]. Bounce/record a &quot;rough mix&quot; of the song and place in folder named <em>&quot;band name - date -</em> ROUGH MIXES&quot;</li>
				
				<li class='documentation'>Delete any tracks that definitely will not be used in the mix. Delete the &quot;master fader&quot; and any aux inputs with plug ins.
				</li>
				
				<li class='documentation'>Make sure that all tracks are named <strong>clearly</strong>, ie: kick, snare top, snare bottom, lead vocal, vocal double, gtr 1 sm57, gtr 1 U87, bass mic, bass di, etc. Please <strong>DO NOT</strong> leave any tracks as &quot;audio 3&quot;, &quot;audio 4&quot;, etc. Maintain this convention throughout the songs ie, don&rsquo;t use &quot;voc&quot; for one song and &quot;vox&quot; for another, or &quot;snare top&quot; then &quot;sn top&quot;. Try to be as consistent as possible when naming tracks.
				</li>
				
				<li class='documentation'>Check the edits on tracks and crossfade edits where necessary. Check for clicks and pops and adjust the edits and crossfade as necessary.<strong>DO NOT REMOVE SPACE BETWEEN TOM HITS, VOCAL PARTS, ETC.</strong>
				</li>
				<li class='documentation'><strong>REMOVE ALL PLUGINS</strong>. If there is a track with a specific plugin effect [distorted vocal, timed delays, lo fi drums] record or bounce that track to a new track. Then remove the plugin from the original track and clearly label both tracks [&quot;bridge voc dist&quot;, &quot;bridge voc original&quot;]. The same procedure should be followed for any pitch-corrected [auto tuned] tracks, with the &quot;tuned&quot; and &quot;untuned&quot; tracks clearly labelled, ie &quot;ch voc 1 tuned&quot;, &quot;ch voc 1 original&quot;.
				</li>
				<li class='documentation'><strong>Remove ALL mute automation</strong>. If there is a part of a track that will not be used in the mix, delete that part of the region. If that causes clicks/pops, add very short fade in and fade out. Alternatively, leave the audio as it is and provide me with clear instructions that the track should be muted, including the exact time in the song for the mute/unmute.
				</li>
				<li class='documentation'><strong>Consolidate</strong> all tracks to start and end at the same point [00.00.00.00]. All tracks should be the same length - for example, if a keyboard track only plays at the end of the song, it should be consolidated from the same point [00.00.00.00] as all the other tracks, so when we open up the consolidated files, the tracks will all line up at 00 and play correctly. Have a look at this <a href=&quot;http://www.alexnewport.com/screenshot.html&quot; rel=&quot;shadowbox&quot;>screenshot</a>screenshot to clarify. After consolidation, rename the consolidated region for each track to match the track name (if necessary). EXPORTED AUDIO WILL TAKE ON THE <strong>REGION NAME</strong> SO REMEMBER TO NAME REGIONS APPROPRIATELY following the convention of #3 above. 
				</li>
				<li class='documentation'>Create a new folder named <em>&quot;band name - date -</em> FOR MIX&quot;
				</li>
				<li class='documentation'>Export the consolidated tracks to this folder as 24 Bit WAV [or AIFF if your session is using AIFF]. Sample rate: same as your current session.
				</li>
				<li class='documentation'>Repeat as above for each song. When all songs are saved, send the hard drive. If you are sending the songs for mix on DVD&rsquo;s, <strong>VERIFY THE DVD AFTER BURNING</strong> and use PC/MAC compatible disk writing. Remember to include the rough mixes in a seperate folder on the hard drive or DVD, or burn to audio CD and include in the package. Rough mixes are very helpful for me to check that no files are missing, and to get an idea of the song&rsquo;s direction. Include power supply and cables for hard drives. Pack drives and / or DVDs well to protect against shipping damage.
				</li>
				<li class='documentation'>Include as many notes as you like, as a text file included in the session folder, or good ol&rsquo; pen and paper. I like notes.
				</li>
				<li class='documentation'>Any &quot;clean up&quot; work such as editing, removing clicks/pops, tracking down missing audio files, making rough mixes because they were not included, or hours spent trying to figure out what &quot;audio 32&quot;, &quot;audio 4&quot;, and &quot;audio 12.1&quot; are, will incur additional costs, so please submit tracks as &quot;finished&quot; as possible and clearly labelled.
				</li>
			</ol>
			<p class='documentation'>Any questions, contact me directly: <a href='mailto: newport@alexnewport.com'>here</a>.</p>
			<p class='bodyText'><a href="javascript:window.print()">[ Print this page ]</a></p>
		</div>
	</body>
</html>