<html>
	<head>
		<style type="text/css">
			div#content {
				left: 50%; 
				margin-left: -200; 
				position: absolute; 
				width: 400px; 
				padding:20px 0px;
			}
			
			.subHead { 
				font: 11px/14px Helvetica,Arial,Verdana,sans-serif;
				color: #323232;
				font-weight:bold;
			}

			.bodyText { 
				font: 10px/14px Helvetica,Arial,Verdana,sans-serif;
				color: #323232;
				margin: 5px 0px 0px 0px;
			}
			
			.documentation { 
				font: 10px/14px Helvetica,Arial,Verdana,sans-serif;
				color: #323232;
			}
			
			a:link {font-weight:bold; color: #323232; text-decoration:none;}
			a:visited {font-weight:bold; color:#323232; text-decoration:none;}
			a:hover {font-weight:bold; color:#707070; text-decoration:none;}
			a:active {font-weight:bold; color:#bab380;text-decoration:none;}
			
			ul {margin: 10px 0 0 0;}
			li {margin: 10px 0 0 0;}
		</style>
	</head>
	<body style="background-color: white;">
	<div id="content">
			<p class='subHead'>Preparation of sessions for mixing - Pro Tools session</p>
			<p class='bodyText'><a href="javascript:window.print()">[ Print this page ]</a></p>
			<p class='bodyText'>Sessions can be accepted on firewire [not USB] hard drive or DVD.<br />In certain cases [mixing only 1 - 2 songs] FTP upload may be possible.<br />Ask me first: <a href="mailto: newport@alexnewport.com">here</a>.</p>
			<ol>
				<li class='documentation'>Open song session file and save as [<em>song title</em> - FOR MIX].<br /> Make a &quot;rough mix&quot; of the song and place in folder named:<br />&quot;<em>band name - date</em> - ROUGH MIXES&quot;</li>
				
				<li class='documentation'>Play song and make sure that all necessary tracks are included. If there are out takes or unused takes of the song, please include them,<em> but mark them<strong> clearly</strong> as out takes and label the &quot;master take&quot; as such. </em>Place markers at key parts of the song, ie: V1, CH1, BRIDGE, etc.</li>
				
				<li class='documentation'>Deactivate and hide, or delete, any tracks that definitely will not be used in the mix. Delete the &quot;master fader&quot; and any aux inputs with plug ins.</li>
				
				<li class='documentation'> Make sure that all tracks are named <strong>clearly</strong>, ie: kick, snare top, snare bottom, lead vocal, vocal double, gtr 1 sm57, gtr 1 U87, bass mic, bass di, etc. Please <strong>DO NOT</strong> leave any tracks as &quot;audio 3&quot;, &quot;audio 4&quot;, etc. Maintain this convention throughout the songs ie, don't use &quot;voc&quot; for one song and &quot;vox&quot; for another, or &quot;snare top&quot; then &quot;sn top&quot;. try to be as consistent as possible when naming tracks. Place corresponding tracks next to each other [all the drum tracks together, then bass tracks, then guitars, then vocals, then percussion tracks, etc.]</li>
				
				<li class='documentation'>Check the edits on tracks and crossfade edits where necessary. Check for clicks and pops and adjust the edits and crossfade as necessary. Buzz or hum from instruments when they are not playing can be muted out [select region, APPLE + M] but<strong> DO NOT REMOVE SPACE BETWEEN TOM HITS, VOCAL PARTS, ETC</strong>. DO NOT &quot;STRIP SILENCE&quot; ANY TRACKS. Do not consolidate tracks. </li> 
				
				<li class='documentation'>Remove all plugins. If there is a track with a specific plugin effect [distorted vocal, timed delays, lo fi drums] record or bounce that track to a new track. Then remove the plugin from the original track and clearly label both tracks [&quot;bridge voc dist&quot;, &quot;bridge voc original&quot;]. The same procedure should be followed for any pitch-corrected [auto tuned] tracks, with the &quot;tuned&quot; and &quot;untuned&quot; tracks next to each other in the session and clearly labelled, ie &quot;ch voc 1 tuned&quot;, &quot;ch voc 1 original&quot;. this and any further information can also be included in the track comments box.</li> 
				
				<li class='documentation'><strong>Remove ALL volume and mute automation</strong>. If there is a part of a track that will not be used in the mix, mute the region [select region and APPLE + M].</li> 
				
				<li class='documentation'>Specific volume or pan automation [a synth part that pans or guitar swell for example] can be left as is, but make a note of it in the track comment box.</li> 
				
				<li class='documentation'>Remove unused regions from the session. This is accomplished with the following command: &quot;SHIFT-APPLE-U&quot; then &quot;SHIFT-APPLE-B&quot;.<br /> Select &quot;<strong>clear unused regions from session</strong>&quot;. Do not select &quot;delete unused regions from hard drive&quot;.</li> 
				
				<li class='documentation'>Go to &quot;File&quot;, then &quot;Save Session Copy In...&quot;<br /> <br /> Session Format: &quot;Latest&quot; <br /> Audio File Type: &quot;BWF / .WAV&quot; [or AIFF if your session is currently AIFF] <br /> Sample Rate: same as your current session<br /> Bit Depth: 24<br /> Check &quot;copy all audio files&quot;<br /> Check &quot;do not copy fade files&quot;</li> 
				
				<p class='documentation'>Create a new folder named &quot;<em>band name - date</em> - FOR MIX&quot;
				<br />
				<br />
				Save session as [<em>song title</em> - FOR MIX]. When closing session, PT will ask you if you want to save changes to the session. Select &quot;Don't save&quot;. It's bettter if you keep a copy of the session as it was and send me the &quot;mix ready&quot; version. Also a good idea to make a backup of the entire &quot;FOR MIX&quot; folder in case the hard drive / DVD is damaged in shipping.</p> 
				
				<li class='documentation'>Repeat as above for each song. When all songs are saved, send the hard drive. If you are sending the songs for mix on DVD's, <strong> VERIFY THE DVD AFTER BURNING</strong> and use PC/MAC compatible disk writing. Remember to include the rough mixes in a seperate folder on the hard drive or DVD, or burn to audio CD and include in the package. Rough mixes are very helpful for me to check that no files are missing, and to get an idea of the song's direction. Include power supply and cables for hard drives. Pack drives and / or DVDs well to protect against shipping damage.</li>
				
				<li class='documentation'>Include as many notes as you like, either in the track comments box, as a text file included in the folder, or good ol' pen and paper. I like notes. if there are specific ideas for the mix or for certain tracks, include those notes here.</li> 
				
				<li class='documentation'>Any &quot;clean up&quot; work such as editing, removing clicks/pops, tracking down missing audio files, making rough mixes because they were not included, or hours spent trying to figure out what &quot;audio 32&quot;, &quot;audio 4&quot;, and &quot;audio 12.1&quot; are, will incur additional costs, so please submit tracks as &quot;finished&quot; as possible and clearly labelled.</li> 
			</ol>
			<p class='documentation'>Any questions, contact me directly: <a href="mailto: newport@alexnewport.com">here</a>.</p>
			<p class='bodyText'><a href="javascript:window.print()">[ Print this page ]</a></p>
		</div>
	</body>
</html>